* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #010313;
    color: white;
}

/* first header start  */

.header-container {
    display: flex;
    align-items: center;
    padding: 18px 75px;
}



.left-header-container {
    display: flex;
    align-items: center;
}

.left-header-container a {
    text-decoration: none;
    margin-bottom: 0;
    color: aliceblue;

}

.right-header-container {
    display: flex;
    gap: 25px;
    align-items: center;

}

.right-header-container a {
    text-decoration: none;
    color: aliceblue;
}

.right-header-container button {
    cursor: pointer;
    background-color: blueviolet;
    color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    border: none;

}

/* first header end  */
/* second header start  */
.second-header-container {
    display: flex;
    padding: 18px 75px;
    justify-content: space-between;
    align-items: center;

}

.second-left-header-container {
    width: 100%;

}

.second-left-header-container img {
    width: 80%;
}

.second-right-header-container {

    width: 100%;
    color: aliceblue;
    font-size: 41px;
    margin-top: 50px;
}

/* second header end  */
/* thirtd header start  */
.third-header container {
    text-align: center;
}

/* .third-header container h1 {
        display: flex;
    color: blueviolet;
    padding: 18px 75px;
} */
.heading {
    color: blueviolet;
    text-align: center;
    font-size: 50px;
}

.paragraph {
    color: aliceblue;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 29px;
}

.image {
    width: 100%;
    padding: 18px 75px;

}

.button-2 {
    color: aliceblue;
    padding: 18px;
    background-color: blueviolet;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-bottom: 29px;
    margin-top: 29px;


}

/* .button-2 {
    lay: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; */
.button-2:hover {
    color: blueviolet;
    padding: 25px;
    background-color: aliceblue;
    transition: 0.5s;
    margin-bottom: 50px;
}

/* third header end  */
.fourth-header-container {}